<template>
  <span>
    <v-layout>
      <v-flex xs12 sm6 offset-sm3>
        <v-card>
          <v-img src="https://cdn.vuetifyjs.com/images/cards/desert.jpg" aspect-ratio="2.75"></v-img>
          <v-card-title primary-title>
            <div>
              <h3 class="headline mb-0">Value current in EUR:</h3>
              <h2 :class="upOrDown">{{ totalBalance }}</h2>
            </div>
          </v-card-title>
        </v-card>
      </v-flex>
    </v-layout>
  </span>
</template>

<script>
import { setInterval } from "timers";
export default {
  props: [],
  data() {
    return {
      isUp: false,
      totalBalance: 0.0,
      oldBalance: 0.0,
      errors: [],
      wallets: [],
      upOrDown: {
        "active": true,
        "text-danger": false
      }
    };
  },
  methods: {
    getBalance: function() {
      this.axios
        .get("http://localhost:3001/balance")
        .then(response => {
          this.oldBalance = this.totalBalance;
          // JSON responses are automatically parsed.
          this.totalBalance = response.data.balance;
          this.isUp = this.oldBalance < this.totalBalance;
          this.wallets = response.data.wallets;
        })
        .catch(e => {
          console.log("Use cors package if you have problems with Origin.");
          this.errors.push(e);
        });
    }
  },
  created() {
    this.getBalance();
    setInterval(
      function() {
        this.getBalance();
      }.bind(this),
      10000
    );
  },
  computed: {
    UpOrDown: function() {
      return {
        "active": this.isUp,
        "text-danger": !this.isUp,
      };
    }
  }
};
</script>
<style scoped>
</style>