<template>
    <v-btn color="success" dark v-on:click="count++">You clicked me {{ count }} times.</v-btn>
</template>

<script>
export default {
        props: [],
        data() {
           return {
                count: 0
            }
        },
        methods: {
        },
    }

</script>
<style scoped>
</style>