<template>
  <div>
    <v-layout v-for="item of tickers" :key="item.symbol">
      <v-flex xs12 sm6 offset-sm3>
        <v-card>
          <v-card-title primary-title>
            <div>
              <h3 class="headline mb-0">{{ item.symbol }}</h3>
              <div>{{ item.ticker }}</div>
            </div>
          </v-card-title>
        </v-card>
      </v-flex>
    </v-layout>
  </div>
</template>

<script>
import { setInterval } from "timers";
export default {
  props: [],
  data() {
    return {
      tickers: []
    };
  },
  methods: {
    getTickers: function() {
      this.axios
        .get("http://localhost:3001/tickers")
        .then(response => {
          this.tickers = response.data.tickers;
        })
        .catch(e => {
          console.log("Use cors package if you have problems with Origin.");
          this.errors.push(e);
        });
    }
  },
  created() {
    this.getTickers();
    setInterval(
      function() {
        this.getTickers();
      }.bind(this),
      500
    );
  }
};
</script>
<style scoped>
</style>