<template>
  <div id="app">
    <v-app dark>
      <v-content>
        <v-container>
          <h1>Coinbase portfolio and wallets!</h1>
          <ButtonCounter/>
          <Balance/>
          <Tickers/>
        </v-container>
      </v-content>
    </v-app>
  </div>
</template>

<script>
import ButtonCounter from "./components/ButtonCounter.vue";
import Balance from "./components/Balance.vue";
import Tickers from "./components/Tickers.vue";


export default {
  components: {
    ButtonCounter,
    Balance,
    Tickers
  }
};
</script>
<style scoped>
</style>